.ImageItem
{
  position: relative;
  text-align: center;
  
  transition: opacity 1s ease;

  display: flex;

  align-items: center;
  justify-content: center;
}

.ImageItem img
{
  border-radius: 2%;
}

.ImageItem .text
{
  width: 100%;

  position: absolute;

  pointer-events: none;

  top: 95%;
  right: 50%;
  transform: translate(50%, -100%);
  
  color: ivory;
  font-size: clamp(18px, 2vw, 30px);
  text-shadow: 3px 3px 3px rgba(5, 25, 95, 0.85);
}