#DownloadBtn
{
  width: 100%;
  height: 100%;

  background-color: #F42290;
  
  cursor: pointer;
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: clamp(4px, 100%, 16px);
  text-align: center;
  text-decoration: none;
  color: rgb(250, 250, 240);
}